@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
body {
	font-family: "Lato";
	color: rgb(22, 21, 21);
}
.wrapper {
	position: relative;
	overflow: hidden;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.wraper > main {
	flex-grow: 1;
}
[class*="__container"]{
	max-width: 1260px;
	margin: auto;
	padding-left: 15px;
	padding-right: 15px;
}
h1 {
	font-weight: 700;
	padding: 20px;
	color: blue;
}
p {
	padding-left: 15px;
	padding-bottom: 5px;
}
h2 {
	font-weight: 700;
	padding: 20px;
	color:orange;
}
.object {
	margin-left: 100px;
	margin-bottom: 50px;
	display: inline-block;
	background-color: crimson;
}
.object-two {
	margin-left: 30px;
	display: inline-block;
	background-color: dodgerblue;
}
.object-three {
	margin-top: 50px;
	margin-left: 50px;
	display: inline-block;
	background-color:darkorange;
}